@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

@import "./swiper.style.scss";


body {
    background-color: #f7f7f7;
}

@layer base {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-x-center {
        @apply flex justify-center;
    }

    .flex-y-center {
        @apply flex items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .link-effect {
        @apply before:w-full before:h-[1px] before:-bottom-1 before:bg-white before:absolute relative before:scale-x-0 before:transition-all before:duration-300 hover:before:scale-x-100 before:origin-left w-max;
    }
}


.full-bleed {
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax);
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}


.map {
    position: relative;
    width: fit-content;
    margin: 10px 0;

    svg {
        width: 100%;
    }

    .fergana,
    .samarqand {
        position: absolute;
        right: 6%;
        bottom: 39%;
        width: fit-content;
        cursor: pointer;

        &::before {
            content: 'Fargona';
            opacity: 0;
            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);
            color: #f7f7f7;
            background-color: red;
            padding: 2px 12px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all .3s;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    .samarqand {
        left: 60%;
        top: 60%;

        &::before {
            content: 'Samarqand';
        }
    }
}